* {

    margin: 0;
    padding: 0;

}
h1{
    margin: 40px 0 40px 0;
    
    color: aliceblue;



}


body{
    background-color: rgb(15, 5, 5);

}

.box, form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;


}

input{
    width: 250px;
    height: 25px;
    border-radius: 30px;
    padding: 0 15px 0 15px ;


}

button{
    width: 150px;
    height: 25px;
}